.appHeader{
  background-color: var(--appHeaderColor);
  color: white;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 22px 22px 0 0;
  -moz-border-radius: 22px 22px 0 0;
  border-radius: 22px 22px 0 0;
  flex: 0 1 auto;
  height: 80px;
}

.back{
  width: 14px;
}

.power{
  width: 22px;
}

.title{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
}